recursive-include include *.h *.cpp
include build_libicsneo.py
include extract_icsneo40_defines.py
include generate_icsneo40_structs.py
include ics_utility.py
include requirements.txt
include validate_structs.py
graft .git
graft src/ice