name: Documentation

on:
  push:
    tags:
      - 'v*'
      - '*.*.*'

jobs:
  trigger-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Read the Docs Build
        run: |
          curl -X POST \
            -H "Authorization: Token ${{ secrets.RTD_API_TOKEN }}" \
            https://app.readthedocs.org/api/v3/projects/python-ics/versions/master/builds/
